# Backend Application Data & Logs
backend/data/
backend/upload-dir/
backend/tessdata/
*.log

# Backend Build Artifacts
backend/target/
*.jar
*.war

# Environment Variables
.env
.env*.local

# IDEs and OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db
